body
{
	background-color: #404040;
	font-family: 'Lato', sans-serif;
}

#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#logo
{
	color: white;
	margin-top: 20px;
	font-size: 44px;
	letter-spacing: 3px;
	font-weight: 900;
}

#menu
{
	background-color: #303030;
	margin-top: 20px;
	color: #ffffff;
	padding: 10px;
	
}

#topbar
{
	background-color: #128870;
	color: white;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 25px;
	height: 170px;
}

#topbarL
{
	float:left;
	padding: 20px;
	width: 138px;
	text-align: center;
	border-right: 2px dotted #cccccc;
}

#topbarR
{
	float: left;
	padding: 20px;
	width: 760px;
	font-size: 16px;
	text-align: justify;

	line-height: 23px;
}

#sidebar
{
	float: left;
	width: 148px;
	height: 1050px;
	padding: 20px 20px 60px 20px;
	background-color: lightgray;
	text-align: center;
	font-size: 18px;
	border-right: 2px dotted #666666;
}

#content
{
	float: left;
	padding: 40px;
	width: 730px;
	background-color: #dedede;
	height: 1050px;
	text-align: justify;
	line-height: 23px;
}

#footer
{
	clear: both;
	color: white;
	text-align: center;
	padding: 20px;
	font-size: 15px;

	line-height: 23px;
}

.option
{
	float: right;
	min-width: 50px;
	height: 25px;
	font-size: 18px;
	padding: 10px;
	/* border-right: 2px dotted #444444; */
	opacity: 0.8;
}

.option:hover
{
	background-color: #000000;
	cursor: pointer;
}

.optionL
{
	font-size:18px;
	height:25px;
	padding: 10px;
	border-bottom: 2px dotted #444444;
}

.optionL:hover
{
	background-color: #0e6b59;
	color: white;
	cursor: pointer;
}

#sidebar>a
{
	color: black;
	text-decoration: none;
}

.bigtitle
{
	font-size: 32px;
	font-weight: 900;
	letter-spacing: 2px;
}

.dottedline
{
	height: 5px;
	margin-top: 15px;
	margin-bottom: 20px;
	border-bottom: 2px dotted #444444;
}

table
{
	border-collapse: collapse;
	width: 100%;
}
  
 th, td
 {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}
  
th
{
	background-color: #128870;
	color: white;
}

th:last-child
{
	text-align: center;
}

th:first-child,td:first-child
{
	padding-left: 20px;
}

tr:hover
{
	background-color: #f5f5f5;
}
  
#uslugi>tbody>tr>td:last-child::after
{
	content: " zł";
}

#uslugi>tbody>tr>td:last-child
{
	text-align: center;
}

#menu>a
{
	color: white;
}

#menu>a:visited
{
	color: white;
}

#slogan
{
	color: #128870;
	margin-left: 40px;
}

.partnerlink>b>a
{
	color: #044134;
}